* {
    background-color: black;
    color: white;
    text-align: justify;
}

.note {
    color: yellow;
    font-weight: bold;
}



.first {
    color: white;
}

img { 
    height: auto;
    width: 500px;
}

.home {
    height: auto;
    width: 300px;
}