* {
    background-color: black;
    color: white;
    text-align: justify;
    box-sizing: border-box;
}

.note {
    color: yellow;
    font-weight: bold;
}



.first {
    color: white;
}

img { 
    background-color: aquamarine;
    height: auto;
    width: 500px;
    border: 3px solid white;
    padding: 10px solid black;
    margin: 20px;
}

.home {
    height: auto;
    width: 300px;
}